body {
  text-align: center;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 2;
}

h1 {
  color: #18b0b0;
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  color: #b80d57;
  ;
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
}

hr {
  border-style: dotted none none;
  border-width: thick;
  border-color: grey;
  width: 10%;
  margin: 50px auto;
}

.top-container {
  background-color: #e1f2fb;
  position: relative;
}

.header {
  font-size: 70px;
  color: #116979;
  padding-top: 50px;
  margin: 0;
  font-family: 'Sacramento', cursive;
}

.sub-line {
  color: #18b0b0;
  font-weight: bold;
}

.top-cloud {
  position: absolute;
  left: 60px;
  bottom: 70px;
}

.bottom-cloud {
  position: absolute;
  top: 50px;
}

.profile {}

.profile-pic {
  border-radius: 100%;
}

.greeting {
  font-weight: bold;
}

.skill-table {}

.skill-row-1 {
  margin: 90px auto 90px;
  width: 50%;
}

.code {
  border-radius: 100%;
  float: left;
}

.languages {
  padding-left: 30px;
}

.skill-row-2 {
  width: 50%;
  margin: 0 auto 100px;
}

.code-2 {
  float: right;
}

.ending {
  margin-top: 100px;
}

.btn {
  padding-bottom: 70px;
}

.btn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #53c7f2 5%, #408c99 100%);
  background-color: #53c7f2;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #53c7f2 100%);
  background-color: #408c99;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #235952;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

user agent stylesheet html {
  color: -internal-root-color;
}

.links {
  margin-top: 40px;
  background-color: #66bfbf;
  border-width: 200px;
  height: 100px;
  position: relative;
  padding: 50px 0px 20px ;
}
.header-2{
  font-size: 70px;
  color: #116979;
  padding-top: 50px;
  margin: 0;
  font-family: 'Sacramento', cursive;
  padding-bottom: 50px;
}
.myButton {
	box-shadow: 3px 4px 7px 2px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	font-style:italic;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
